<%= form_with(model: interviewer) do |form| %>
  <% if interviewer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interviewer.errors.count, "error") %> prohibited this interviewer from being saved:</h2>

      <ul>
        <% interviewer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
