<p id="notice"><%= notice %></p>

<h1>Interviewers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Job title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviewers.each do |interviewer| %>
      <tr>
        <td><%= interviewer.name %></td>
        <td><%= interviewer.job_title %></td>
        <td><%= link_to 'Show', interviewer %></td>
        <td><%= link_to 'Edit', edit_interviewer_path(interviewer) %></td>
        <td><%= link_to 'Destroy', interviewer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interviewer', new_interviewer_path %>
<br><br>
<%= link_to 'View Candidates', candidates_path %>
<br>
<%= link_to 'View Interviews', interviews_path %>
<br>
<%= link_to 'View Jobs', jobs_path %>