<p id="notice"><%= notice %></p>

<div class="title">
  Interviewers
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Job title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interviewers.each do |interviewer| %>
      <tr>
        <td><%= interviewer.name %></td>
        <td><%= interviewer.job_title %></td>
        <td><%= link_to 'Show', interviewer %></td>
        <td><%= link_to 'Edit', edit_interviewer_path(interviewer) %></td>
        <td><%= link_to 'Destroy', interviewer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="buttons">
          <a class="button is-primary" href=interviewers/new>
            New Interviewers
          </a>
</div>