<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interviewer.name %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @interviewer.job_title %>
</p>

<%= link_to 'Edit', edit_interviewer_path(@interviewer) %> |
<%= link_to 'Back', interviewers_path %>
