<p id="notice"><%= notice %></p>

<div class="title">
  Candidates
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Years of experience</th>
      <th>Description</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.years_of_experience %></td>
        <td><%= candidate.description %></td>
        <td><%= candidate.job.title %></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="buttons">
          <a class="button is-primary" href=candidates/new>
            New Candidate
          </a>
</div>
