<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Years of experience:</strong>
  <%= @candidate.years_of_experience %>
</p>

<p>
  <strong>Description:</strong>
  <%= @candidate.description %>
</p>

<p>
  <strong>Job:</strong>
  <%= @candidate.job.title %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
